.main {
  width: 50%;
  margin: 0 auto;
  background-color: #efefef;
}
.pp {
  margin: 0px;
  text-align: center;
}
.appName {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 1rem;
}
